html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 2.3vmin;
  color: rgb(225, 240, 18);
  user-select: none;
}

scene {
  width: 1920px;
  height: 1080px;
  display: inline-block;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}

#FudgeStoryLogo {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

dialog[class="choicesCSSclass"] {
  background: transparent;
  text-align: center;
  border: none;
  object-fit: cover;
  object-position: bottom;
  padding: 0;
  height: 100%;
  /* width: auto; */
  aspect-ratio: 16/9;
  /* Von Jonas Plotzky programmiert */
  align-items: center;
  /* Von Jonas Plotzky programmiert */
  justify-content: center;
  /* Von Jonas Plotzky programmiert */
  display: flex;
  /* Von Jonas Plotzky programmiert */
}

/* Von Jonas Plotzky programmiert */
dialog[class="choicesCSSclass"]:not([open]) {
  display: none;
}

dialog[class="choicesCSSclass"] button {
  background-image: url(./Assets/Items/UI_Dialogbox.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  text-align: center;
  color: #fff;
  border: none;
  height: 10%;
  width: 30%;
  padding: 1% 4%;
  cursor: pointer;
  font-size: 2vmin;
}

speech {
  background-image: url(./Assets/Items/UI_Speechbox.png);
  /* Von Ronja Neumann implementiert */
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #ffffff;
  width: 100%;
  height: 30%;
}

speech content {
  color: rgb(255 255 255);
  position: absolute;
  width: 70%;
  display: block;
  FONT-VARIANT: JIS04;
  FONT-VARIANT: JIS04;
  top: 40%;
  left: 7%;
  font-size: 2.5vmin;
}

name {
  font-family: 'Uncial Antiqua', Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 3vmin;
  display: block;
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 1.8%;
  margin-bottom: 0%;
  left: 11.5%;
  right: 4%;
}

/* .decisionButtons {
  padding: 2%;
  background-color: blueviolet;
} */

/* dialog[type="inventory"]>ul>li>amount { 
  ändert amount spezfisch
  background-color: rgb(255, 255, 255);
  left: 0px;
  width: 20px;
  margin-top: 5px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: large;
  border: rgb(0, 0, 0);
  border-width: 2px;
  padding: 10px;
} */

/* dialog[type="inventory"] {
  background-color: rgb(240, 18, 103);
  left: 0px;
  width: 90%;
  height: 90%;
  font-size: large;
} /*

meter::-webkit-meter-bar {
  background-color: #ececec;
}

meter[id="EmpathyPointsSkala"] {
  position: absolute;
  transform: rotate(-90deg);
  bottom: 50%;
  left: -14%;
  width: 35%;
  height: 10%;
}

meter[id="EmpathyPointsSkala"]::-webkit-meter-optimum-value {
  background-image: linear-gradient(90deg,
      #8bcf69 5%,
      #e6d450 5%,
      #e6d450 15%,
      #f28f68 15%,
      #f28f68 55%,
      #cf82bf 55%,
      #cf82bf 95%,
      #719fd1 95%,
      #719fd1 100%);
  /* background-color: #719fd1; 
}

input[name="scoreEmpathyPoints"] {
  background-color: rgb(111, 76, 10);
  color: rgb(255, 248, 253);
  position: absolute;
  left: 0.75%;
  bottom: 19.5%;
  width: 5%;
} */